<svg width="{{width}}px" height="{{height}}px">
  <defs>
    <marker id="Triangle"
            viewBox="0 0 10 10" 
            refX="1" refY="5"
            markerWidth="3" 
            markerHeight="3"
            orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" />
	    </marker>
  </defs>
  <path d="M10 110 C 10 10, 150 10, 150 110" style="stroke-width: 7" stroke="black" fill="transparent"/>
  <text text-anchor="middle" font-size="18px" font-weight="bold" font-family="Arial" x="20" y="130">{{min}}</text>
  <text text-anchor="middle" font-size="18px" font-weight="bold" font-family="Arial" x="150" y="130">{{max}}</text>
  <text text-anchor="middle" font-size="28px" font-weight="bold" font-family="Arial" x="75" y="30">{{value}}</text>
  
  <line x1="75" y1="110" 
      x2="{{pointerX}}" y2="{{pointerY}}" 
      stroke="black" 
      stroke-width="7"
      marker-end="url(#Triangle)" />
  
</svg>
